<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
  <system.web>

    
    <compilation 
         defaultLanguage="c#"
         debug="false"
    />

    
    <customErrors 
    mode="RemoteOnly" 
    /> 

    
    <authentication mode="Windows" /> 

    
    <trace
        enabled="false"
        requestLimit="10"
        pageOutput="false"
        traceMode="SortByTime"
		localOnly="true"
    />

    
    <sessionState 
            mode="InProc"
            stateConnectionString="tcpip=127.0.0.1:42424"
            sqlConnectionString="data source=127.0.0.1;user id=sa;password="
            cookieless="false" 
            timeout="20" 
    />

    
    <globalization 
            requestEncoding="utf-8" 
            responseEncoding="utf-8" 
   />
   
 </system.web>
 <appSettings>
	<add key="DSN" value="data source=localhost;initial catalog=prism72;user id=prism72;password=prism72;" />
	<add key="ReportPath" value="e:/ReportBuilder/Reports" />
 </appSettings>

</configuration>
